@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Universal Style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn-style{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}
.title-style{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title-style span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.description-style{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 20px auto;
}

/* Navbar Section */
header{
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    align-items: center;
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-title h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav-logo{
    height: 100%;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.menu-items{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.follow-us{
    padding: 10px 20px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
}
.small-logo{
    height: 50px;
    margin: 0;
    padding: 0;
}
.small-logo2{
    height: 20px;
    margin: 0;
    padding: 0;
}

/* Banner Section */
.banner{
    display: flex;
    height: 700px;

}
.banner-left, .banner-right{
    width: 40%;
}
.banner-left{
    width: 60%;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-left div{
    width: fit-content;
}
.banner-right{
    padding: 100px;
}
.banner-title1{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner-title2{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-features{
    list-style: none;
    width: fit-content;
    margin: 20px auto;
}
.banner-features li{
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 10px;
}
.banner-right img{
    height: 100%;
    width: auto;
    /* background-image: url(images/Group\ 18.png); */
}
.banner-btns{
    width: fit-content;
    margin: 20px auto;
}
.btn2{
    background: #4EC5F7;
    margin-left: 20px;
}
/* Header Ends */


/* Main Starts from here */

/* Online Games Section */
.games-options{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.option{
    width: 18%;
}
.option img{
    width: 100%;
}
.option>div{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    width: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay p{
    color: white;
}
.overlay img{
    height: 40px;
    width: auto;
}
.option:hover .overlay{
    opacity: .6;
}
.option:hover .overlay img{
    opacity: 1;
}


/* Play Games Online */
.play-games{
    margin: 50px 100px;
    display: flex;
    gap: 120px;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 150px;
}
.play-poster{
    height: 700px;
    width: auto;
    padding-left: 50px;
}
.poster-img1{
    display: block;
    max-height: 600px;
    width: auto;
}
.poster-img2{
    position: relative;
    bottom: 220px;
    left: 500px;
}
.play-description{
    align-items: center;
}
.play-description div{
    margin: 100px 0 100px 100px;
    max-width: 430px;
}
.play-description h1,.play-description p{
    text-align: left;
}

/* Games catagory Section */
.catagories{
    margin: 50px 50px;
}
.catagories div{
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.catagory{
    text-align: center;
    align-items: center;
    padding: 10px 0px;
    border-radius: 50px;
    background: #FFF;
    width: 20%;
}
.catagory img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.catagory:hover{
    border: 1px solid #FF42A5;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 19%;
}



/* Footer */
footer{
    background: #0B0223;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
footer .nav-title{
    width: fit-content;
    margin: 20px auto;
    padding-top: 80px;
}
.nav-title span{
    color : #FF42A5; 
}
.footer-text{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
footer ul{
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.footer-options {
    gap: 50px;
}
.fa-brands{
    margin-right: 20px;
}

/* Mobile View */
@media screen and (max-width: 450px) {
    header{
        max-width: 450px;
    }
    .navbar, .menu, .banner, .games-options{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .banner{
        height: max-content;
        margin-top: 20px;
    }
    .banner-left,.banner-right{
        width: 400px;
        padding: 10px;
        margin-top: 30px;
    }
    .banner-left h1{
        font-size: 3em;
    }
    .banner-right img{
        width: 400px;
        height: auto;
        margin: 0;
        padding: 0;
    }
    
    main{
        margin-top: 100px;
        max-width: 400px;
    }
    .option{
        width: 80%;
        margin: 0 auto;
    }



    .play-games{
        margin: 0;
        width: 425px;
        margin-top: 150px;
        gap: 0px;
        flex-direction: column;
    }
    .play-poster{
        height: max-content;
    }
    .poster-img1{
        display: block;
        width: 80%;
        height: auto;
    }
    .poster-img2{
        width: 40%;
        position: relative;
        bottom: 80px;
        left: 200px;
    }
    .play-description div{
        margin: 0 auto;
        max-width: 350px;
    }
    .play-description h1,.play-description p{
        text-align: center;
    }

    .catagories{
        margin: 50px 0px;
        width: 425px;
    }
    .catagories div{
        row-gap: 0px;
    }
  
    .catagory{
        display: flex;
        width: 30%;
        gap: 0px;
        font-size: 10px;
        justify-content: space-around;
    }

    .catagory img{
        width: 25px;
        margin-right: 5px;
    }
    .catagory:hover{
        border: 1px solid #FF42A5;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 28%;
    }

    footer ul{
        margin: 30px auto;
        gap: 20px;
    }
    .footer-options {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        font-size: 18px;
    }
    .footer-options li{
        width: 25%;
    }

    .footer-text{
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: Work Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .footer-logos{
        width: 50%;
        margin: 0 auto;
    }
    .fa-brands{
        width: 30%;
        margin: 25px 0;
    }
}

/* Tablet View */
@media screen and (max-width: 800px) and (min-width: 450px){
    header{
        max-width: 800px;
    }
    .navbar, .menu, .banner, .games-options{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .banner{
        height: max-content;
        margin-top: 20px;
    }
    .banner-left,.banner-right{
        width: 700px;
        padding: 10px;
        margin-top: 30px;
    }
    .banner-left h1{
        font-size: 3em;
    }
    .banner-right img{
        width: 700px;
        height: auto;
        margin: 0;
        padding: 0;
    }
    
    main{
        margin-top: 100px;
        max-width: 700px;
    }
    .option{
        width: 70%;
        margin: 0 auto;
    }



    .play-games{
        margin: 0;
        margin-top: 150px;
        gap: 0px;
        flex-direction: column;
    }
    .play-poster{
        height: max-content;
    }
    .poster-img1{
        display: block;
        width: 80%;
        height: auto;
    }
    .poster-img2{
        width: 40%;
        position: relative;
        bottom: 150px;
        left: 350px;
    }
    .play-description div{
        margin: 0 auto;
        max-width: 600px;
    }
    .play-description h1,.play-description p{
        text-align: center;
    }

    .catagories{
        margin: 50px auto;
    }
    .catagories div{
        row-gap: 20px;

    }
  
    .catagory{
        display: flex;
        width: 30%;
        gap: 0px;
        font-size: 16px;
        padding: 5px;
    }

    .catagory img{
        width: 40px;
    }
    .catagory:hover{
        border: 1px solid #FF42A5;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 28%;
    }

   
}